body {
  margin: 0;
}

#header #header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  height: 50px;
  margin: 0;
  padding: 0;
  top: 0;
  background-color: #393939;
}

#header #header-top .search {
  margin-right: 210px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#header #header-top .search #searchBox {
  height: 31px;
  width: 179px;
  float: left;
  font: normal 11px Arial, Helvetica, sans-serif;
  color: #a4a4a4;
  border: 1px solid black;
}

#header #header-bottom-bg {
  width: 100%;
  background: #3f3f3f;
}

#header #header-bottom-bg #header-bottom {
  width: 970px;
  height: 80px;
  margin: 0 auto;
}

#header #header-bottom-bg #header-bottom #logo {
  float: left;
  position: relative;
  top: -10px;
}

#header #header-bottom-bg #header-bottom #menu {
  position: relative;
  right: 185px;
  height: inherit;
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header #header-bottom-bg #header-bottom #menu ul {
  list-style-type: none;
}

#header #header-bottom-bg #header-bottom #menu li {
  margin: 20px;
  float: left;
}

#header #header-bottom-bg #header-bottom #menu li a {
  text-decoration: none;
  font: bold 12px "Trebuchet MS", Arial, Helvetica, sans-serif;
  color: #c2c2c2;
}

#header #header-bottom-bg #header-bottom #menu li a:active {
  color: #fff;
  background: url(images/r_menu.gif) no-repeat right;
}

#header #header-bottom-bg #header-bottom #menu li a:hover {
  cursor: pointer;
}

#slider {
  width: 980px;
  margin: 0 auto;
}

#slider #slider_area {
  margin-top: 20px;
  width: 800px;
  height: 320px;
}

#slider #slider_area figure {
  width: 600px;
  height: 300px;
}

#slider #slider_area figure img {
  top: 0;
  left: 0;
  width: 100%;
}

#slider #slider_simple_bg {
  margin-bottom: 20px;
}

#slider .slider_blog {
  border: 1px solid black;
  width: inherit;
  margin: 0 auto;
  background: #2d2e2e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#slider .slider_blog h3 {
  font: normal 30px "Trebuchet MS", Arial, Helvetica, sans-serif;
  color: #fff;
  padding: 30px 0 20px 20px;
  margin: 0;
}

#slider .slider_blog .slider_box {
  float: left;
  width: 280px;
  height: 170px;
  padding: 5px 30px 5px 20px;
}

#slider .slider_blog .slider_box img {
  float: left;
  margin-top: -15px;
  padding: 0 10px 10px 0;
}

#slider .slider_blog .slider_box #box_header {
  position: relative;
  left: 20px;
}

#slider .slider_blog .slider_box #box_header .h3_header {
  display: inline-block;
  margin-bottom: 0;
  padding-bottom: 0;
  font: bold 18px "Trebuchet MS", Arial, Helvetica, sans-serif;
  color: #fff;
}

#slider .slider_blog .slider_box #box_header .p_header_sub {
  font: bold 13px "Trebuchet MS", Arial, Helvetica, sans-serif;
  display: inline-block;
  margin-top: 0;
  color: #a9a8a8;
}

#slider .slider_blog .slider_box .p_text {
  max-width: 266px;
  font: normal 12px Arial, Helvetica, sans-serif;
  color: #979797;
  margin: 0;
  line-height: 1.8em;
  display: inline-block;
}

#body #body_resize {
  width: 980px;
  height: 390px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#body #body_resize .content {
  width: 280px;
  min-height: 377px;
  margin: 0;
  padding: 0;
  float: left;
}

#body #body_resize .content header {
  padding-top: 10px;
  padding-bottom: 15px;
  margin-bottom: 10px;
  background: url(../images/h2_bg.gif) bottom center no-repeat;
}

#body #body_resize .content header h2 {
  font: bolder 18px "Trebuchet MS", Arial, Helvetica, sans-serif;
  color: #1e1e1e;
  padding: 10px 0 0 0;
  margin: 0;
  display: inline-block !important;
  position: relative !important;
  vertical-align: middle !important;
  line-height: 1px !important;
}

#body #body_resize .content header p {
  max-width: 266px;
  font: bolder 13px "Trebuchet MS", Arial, Helvetica, sans-serif;
  color: #979797;
  margin: 0;
  line-height: 1.8em;
  display: inline-block;
}

#body #body_resize .content .content_text {
  font: normal 12px Arial, Helvetica, sans-serif;
  color: #979797;
  line-height: 1.8em;
  padding: 10px 0;
  margin: 0;
}

#body #body_resize .content .mid_ul {
  list-style-type: none;
  padding: 0;
  margin: 10px 0;
}

#body #body_resize .content .mid_ul li {
  color: #1d2024;
  font: normal 12px Arial, Helvetica, sans-serif;
  padding: 5px 0 5px 15px;
  background: url(../images/ul_li.gif) left no-repeat;
  margin: 0;
  border-bottom: 1px solid #e8e8e8;
}

#body #body_resize .content .l_news_midheader a {
  color: #c92806;
  text-decoration: none;
}

footer {
  /* padding: 0 0 5px 0; */
  background: #f5f5f5 url(../images/fbg_bg.gif) top repeat-x;
  margin-top: 15px;
}

footer #footer_content {
  width: 980px;
  margin: 0 auto;
  padding: 0;
}

footer #footer_content .footer_box > .logo {
  position: relative;
}

footer #footer_content p {
  font: normal 12px Arial, Helvetica, sans-serif;
  color: #aeaeae;
  padding: 5px 10px;
  margin: 0;
  line-height: 1.8em;
}

footer #footer_content p a {
  color: #504f4f;
  text-decoration: none;
}

footer #footer_content h2 {
  font: normal 18px "Trebuchet MS", Arial, Helvetica, sans-serif;
  color: #504f4f;
  padding: 30px 10px 10px 10px;
  margin: 0;
}

footer #footer_content ul {
  padding: 0 10px;
  margin: 0;
  list-style: none;
}

footer #footer_content ul li {
  padding: 5px 0;
  margin: 0;
  border-bottom: 1px solid #ececec;
}

footer #footer_content ul li a {
  font: normal 12px Arial, Helvetica, sans-serif;
  color: #aeaeae;
  padding: 5px 0;
  margin: 0;
  text-decoration: none;
}

footer #footer_content .footer_box {
  width: 220px;
  float: left;
  margin: 0;
  padding: 0 30px 10px 0;
}

footer #footer_content .footer_box_last {
  padding: 0 10px 10px 0;
}

footer #footer_bottom {
  background: #3f3f3f url(../images/footer_bg.gif) top repeat-x;
  margin: 0 auto;
  padding: 10px;
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer #footer_bottom p {
  color: #a9a9a9;
  font: normal 12px Arial, Helvetica, sans-serif;
}

/******************services****************/
#body_services {
  width: 100%;
  padding: 10px 0;
  margin: 0 auto;
  background: #fff;
}

#body_services_bg {
  width: 980px;
  height: 800px;
  /**/
  margin: 0 auto;
  padding: 0;
}

#right_aside {
  width: 280px;
  float: right;
}

.article {
  width: 280px;
  margin: 0;
  padding: 0 30px 60px 20px;
  float: left;
}

.article img {
  float: left;
  margin: 0;
  border: none;
  padding: 5px 0;
  background: none;
}

#body_services header {
  background: url(/images/h2_bg.gif) bottom center no-repeat;
  padding-top: 15px;
  padding-bottom: 20px;
}

#body_services header h2 {
  border: none;
  font: bold 18px "Trebuchet MS", Arial, Helvetica, sans-serif;
  color: #1e1e1e;
  margin: 0;
}

#body_services header .h2_sub {
  font: bold 13px "Trebuchet MS", Arial, Helvetica, sans-serif;
  position: relative;
  color: #979797;
  padding: 0;
  margin: 0;
  display: inline-block;
}

.text {
  font: normal 12px Arial, Helvetica, sans-serif;
  color: #979797;
  line-height: 1.8em;
  padding: 10px 0;
  margin: 0;
}

.text a {
  text-decoration: none;
  color: #c92806;
}
/*# sourceMappingURL=main.css.map */